<form #myForm="ngForm" (ngSubmit)=ajouterPersonne(myForm)> 
    <div>
        Nom :<input type="text" name="nom" [(ngModel)]="personne.nom" required #nom="ngModel">
    </div>
    <div [hidden]="nom.valid || nom.pristine">
        Le nom est obligatoire
    </div>
    <div>
        Prenom :<input type="text" name="prenom" [(ngModel)]="personne.prenom" required #prenom="ngModel">
    </div>
    <div [hidden]="prenom.valid || prenom.pristine">
        Le prénom est obligatoire
    </div>
    <div>
        <button [disabled]="!myForm.valid">
            Ajouter
        </button>
    </div>
</form>
<div class="container">
    <h5>Personnes :</h5>
    <ul>
        <li *ngFor="let elt of personnes">
            {{ elt.nom }} {{ elt.prenom }}
            <button (click)=supprimerPersonne(elt)>Supprimer</button>
        </li>
    </ul>
</div>